body {
    font-size: 1em;
    margin-bottom: 1em;
    background-color: #23201f;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#aligner {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height:100%;
    background-color: inherit;
}

#pal {
    /*background-color: #f8f7f1;*/
    border-radius: 5px;
    padding: 1em 10px;
    max-width:95%;
    text-align:center;
    background-color: inherit;
}

#selector:hover {
    cursor: default;
}

#selected {
    color: #1DB954;
    text-decoration: underline;
  }

#unselected:hover {
    text-decoration: underline;
}

#unselected {
    text-decoration: none;
}

form {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;

}

#use_musicmap {
    display: none;
}

#artist, #artistbtn {
    font-family: inherit;
    font-size: 1.5em;
    padding: 3px;
    text-align: center;
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 0;
    -webkit-appearance: none;
    color: white;
    background-color: #4b4847;
    border-color: #1DB954;

}

#artistbtn {
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: #3c3938;
}

#artistbtn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 0 0;
}

a {
    color: #1DB954;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #1DB954;
}


#footer {
    text-align: center;
    position: fixed;
    height: 1.3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
}


#footer a, #footer a:visited  {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.footer-space {
    margin: 0;
}

header {
    margin: auto;
    text-align: left;
    max-width: 640px;
}

@media only screen and (max-device-width: 641px) {
    header {
        max-width: 100%;
    }

@media only screen and (max-device-width: 380px) {
    #artist, #artistbtn {
        font-size: 1em;
    }
}
}

